.movieDetails_container {
  position: fixed; /* Use fixed position to keep it visible while scrolling */
  top: 0;
  left: 0;
  width: 100vw; /* Set width to full viewport width */
  height: 100vh; /* Set height to 90% of viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background: #0000007a;
  z-index: 5;

  .close_icon {
    position: fixed;
    top: 100px;
    right: 380px;
    padding: 10px;
    background-color: rgb(87, 85, 85);
    border-radius: 100px;
    z-index: 6;
  }

  .movie_popup {
    position: fixed;
    width: 900px;
    height: 90%;
    background-color: white;
    padding: 20px;
    z-index: 5;
    top: 80px;
    border-radius: 5px;
    overflow-y: auto;
    h2 {
      color: black;
    }
  }
}
