.movieDetails_container {
  position: fixed; /* Use fixed position to keep it visible while scrolling */
  top: -50px; /* Set top position to 0 */
  left: 0;
  width: 100%; /* Set width to full viewport width */
  height: 200%; /* Set height to 90% of viewport height */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background: #000000b1;
  z-index: 5;
}

.movie_popup {
  position: fixed;
  width: 900px;
  height: 1yarn00vh;
  background-color: white;
  padding: 20px;
  z-index: 5;
  top: 80px;
  border-radius: 5px;
  overflow-y: auto;
  h2 {
    color: black;
  }
}
