.trailer_container {
  position: relative;
  height: 100%;
  width: 100%;

  .trailer {
    position: absolute; /* Change to absolute positioning */
    top: -165px; /* Adjust the top distance as needed */
    right: 70%; /* Center horizontally */
    transform: translateX(50%); /* Center horizontally */
    width: 230px;
    scale: 1.5;
    height: auto;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    z-index: 3;
    object-fit: cover; /* Crop the video */
    object-position: center; /* Center the video */

    iframe {
      width: 100%; /* Adjust the width to make sure the entire video is visible */
      height: 50%; /* Adjust the height to make sure the entire video is visible */
      object-fit: cover; /* Crop the video */
      //   object-position: center; /* Center the video */
    }

    .trailer_controls {
      background-color: rgb(27, 25, 25);
      height: 110px;
      padding-left: 20px;
      padding-top: 5px;

      .trailer_icon {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 100px;
        padding: 5px;
        margin: 5px;
        margin-bottom: 7px;
        margin-top: 10px;
      }
      .trailer_play_icon {
        background-color: white;
        border: 1px solid white;
        border-radius: 100px;
        padding: 5px;
        margin: 5px;
        margin-bottom: 7px;
      }
      h5 {
        color: #fff;
        margin-left: 10px;
      }
      h6 {
        color: #7d7d7d;
        margin-left: 10px;
        font-size: 0.5rem;
        margin-top: 7px;
      }
    }
  }
}
