.player__container {
  position: relative;
  width: 100vw;
  height: 100vh;
  .player {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .back__icon {
      position: absolute;
      cursor: pointer;
      z-index: 1;

      .back_arrow {
      }
    }

    video {
      width: 100vw;
      height: 100vh;
      object-fit: contain;
    }
  }
}
